<div class="container">
    <div class="row">
        <div class="card col-md-3">
            <img src="{{product.image}}">
        </div>
        <div class="card2 col-md-3">
            <p> <strong>Product name:&nbsp;&nbsp;</strong>{{product.title}}</p>
            <p style="text-align:justify"><strong>Description: </strong>{{product.description}}</p>
            <p><strong>Price: </strong>{{product.price | currency}}</p>
            <div>
                <button type="button" class="btn" (click)="increase(product)"> <i class="fa fa-plus"></i> </button>
                <span>{{product.quantity}}</span>
                <button type="button" class="btn" (click)="decrease(product)"> <i class="fa fa-minus"></i> </button>
            </div>
            <div>
                <button class="btn-primary btn-cart" (click)=addtoCart(product)>Add to bag</button>
            </div>
        </div>
    </div>
</div>